@import url("common.css");
body,
html {
  width: 100%;
  height: 100%;
  background: #ccc;
}

.wrap {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  color: #666666;
}

.wrap header nav {
  width: 100%;
  height: 1rem;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrap header nav span {
  width: 5%;
  padding-left: .4rem;
}

.wrap header nav p {
  flex: 1;
  text-align: center;
}

.wrap .scroll {
  margin-top: .5rem;
}

.wrap .scroll .scroll_one {
  background: #fff;
}

.wrap .scroll .scroll_one dl {
  display: flex;
  align-items: center;
  padding: .5rem 0;
}

.wrap .scroll .scroll_one dl dt {
  width: 20%;
  height: auto;
  padding: 0 .5rem;
}

.wrap .scroll .scroll_one dl dt img {
  width: 80%;
  height: 100%;
  display: block;
}

.wrap .scroll .scroll_one .scroll_two {
  display: flex;
  align-items: center;
}

.wrap .scroll .scroll_one .scroll_two img {
  width: 8%;
  height: auto;
  display: block;
  padding: .5rem;
}

.wrap .scroll .scroll_one .scroll_two p {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrap .scroll .scroll_one .scroll_two p i.icon {
  padding-right: .5rem;
}

.wrap .scroll .scroll_one .scroll_two .border {
  border-bottom: solid 1px #ccc;
  padding: .5rem 0;
}
